<div class="py2 post-footer">
  <p>
    Thanks for reading. Did I make a mistake? Please consider
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/dapetillo/dapetillo.github.io/edit/int/collections/{{ page.path }}"
      >sending a pull request.</a
    >
  </p>
  <p>
    Follow me on
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/dapetillo"
      >Github</a
    >
    or
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://fosstodon.org/@dapetillo"
      >Mastodon</a
    >.
  </p>
</div>
