<div class="social-icons">
  <div>
    {% if site.github_username %}
      <a class="fab fa-github" href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.bitbucket_username %}
      <a class="fab fa-bitbucket" href="https://bitbucket.org/{{ site.bitbucket_username }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.stackoverflow_id %}
      <a class="fab fa-stack-overflow" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-rss"></i></a>
    {% if site.mastodon_username %}
      <a class="fab fa-mastodon" href="https://fosstodon.org/@{{ site.mastodon_username}}" target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.twitter_username %}
      <a class="fab fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.skype_username %}
      <a class="fab fa-skype" href="skype:{{ site.skype_username }}?userinfo"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.steam_nickname %}
      <a class="fab fa-steam-square" href="http://steamcommunity.com/id/{{ site.steam_nickname }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.google_plus_id %}
      <a class="fab fa-google-plus" href="https://plus.google.com/{{ site.google_plus_id }}/posts"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.email %}
      <a class="fab fa-envelope" href="mailto:{{ site.email }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a class="fab fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.angellist_username %}
      <a class="fab fa-angellist" href="https://angel.co/{{ site.angellist_username }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.medium_id %}
      <a class="fab fa-medium" href="https://medium.com/@{{ site.medium_id }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
    {% if site.youtube_channel_id %}
      <a class="fab fa-youtube-play" href="https://youtube.com/channel/{{ site.youtube_channel_id }}"target="_blank" rel="noopener noreferrer"></a>
    {% endif %}
  </div>
  <div class="right">
    {% if site.bitcoin_url %}
      <a class="fab fa-bitcoin" href="{{ site.bitcoin_url }}"></a>
    {% endif %}
    {% if site.paypal_url %}
      <a class="fab fa-paypal" href="{{ site.paypal_url }}"></a>
    {% endif %}
    {% if site.flattr_button %}
      {{ site.flattr_button }}
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
